.scroll-down {
    border: none;
}

.headshot {
    border-radius: 2rem;
    width: 20rem;
}

.mainPhotoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mainText {
    padding-right: 5rem;
    max-width: 50rem;
}

#hero {
    display: flex;
    justify-content: center;
}

.altBioImage {
    border-radius: 4rem;
}

.paper {
    width: 50%;
}

.paperContainer {
    display: flex;
    justify-content: center;
}

.paperContainer a {
    display: flex;
    justify-content: center;
}

html {
    background-color: white;
}